body {
    background-color: lightblue;
}

#articles {
    float: left;
}

#comments {
    color: red;
}

#title, #subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    font-family: 'Staatliches', cursive;
    font-size: 8vw;
    line-height: 0.8;
}

#subtitle {
    font-family: 'Staatliches', cursive;
    font-size: 4vw;
    line-height: 0.8;
}