body {
    background-color: lightblue;
}

#articles {
    float: left;
    font-family: 'Staatliches', cursive;
    font-size: 1.5vw;
}

#comments {
    color: red;
    font-family: 'Staatliches', cursive;
    font-size: 1vw;

}

#title, #subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    font-family: 'Staatliches', cursive;
    font-size: 8vw;
    line-height: 0.8;
}

#subtitle {
    font-family: 'Staatliches', cursive;
    font-size: 4vw;
    line-height: 0.8;
}

.url, .headline {
    margin: 0;
    line-height: 1;
}
.url {
    margin: 0;
font-size: 1vw;
}

.headline{
    color: royalblue;
}